@font-face {
  font-family: 'Inter Regular';
  font-style: normal;
  src: url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter Medium';
  src: url('./fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;

}

@font-face {
  font-family: 'Inter Thin';
  src: url('./fonts/Inter-Thin.woff2') format('woff2');
  font-weight: 100;
}

@media (min-width: 768px) {
  .mobile-hero .mobile-nav {
    visibility: hidden;
  }
}

.nav {
  display: flex;
}

.page-title {
  font-family: 'Inter Medium';
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

html, body {
  background: #030203;
  color: #ffffff;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Inter Thin" !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3 {
  font-family: "Inter Medium";
}

h4, h5, h6 {
  font-family: "Inter Regular" !important;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

h6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 20px;
}

.main {
  margin: 0;
}

footer {
  bottom: 0;
  width: 100%;
  height: 50px;
}

.beta-badge, .feature-badge, .coming-soon-badge {
  width: fit-content;
  padding: 4px 14px;
  text-transform: capitalize;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.beta-badge, .feature-badge {
  color: #DDA0DD;
  border: 1px solid #DDA0DD;
}

.coming-soon-badge {
  color: #B6BCF1;
  border: 1px solid #B6BCF1;
}

.mobile-beta-badge {
  margin-top: -40px;
  position: relative;
  z-index: 1;
}

.mobile-hero {
  width: 100%;
}

.mobile-hero-image {
  width: 100%;
  margin-top: -100px;
}

.mobile-margin-left {
  margin-left: 4%;
}

.mobile-margin-right {
  margin-right: 4%;
}

.font-haskell-pink {
  color: #DDA0DD;
}

.font-haskell-light-lav {
  color: #B6BCF1;
}

.mobile-nav {
  display: flex;
  backdrop-filter: blur(10px);
  height: 110px;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.mobile-menu {
  width: fit-content;
  color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding-bottom: 6px;
}

li > a {
  text-decoration: none;
  margin: 0 0 6px 0;
}

li > a:visited{
  color: #DDA0DD;
  text-decoration: none;
}

.mobile-title-section {
  position: absolute;
  z-index: 1;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
}

.mobile-description {
  font-size: 16px;
}

.gradient-blur-section {
  width: 100%;
  margin-top: -40px;
  height: 70px;
  background: #100912;
  filter: blur(12px);
  -webkit-filter: blur(12px);
}

.section-note-from-us {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: -70px;
  background: #653e70;
  border-radius: 20px;
  padding: 5px 0 30px 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.book-image-sm {
  margin-left: -10px;
  height: 200px;
}

.book-image {
  margin-left: 90px;
  width: 75%;
  position: relative;
  z-index: 1;
}

.note-from-us-container {
  margin-left: -25px;
}

.note-from-us-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

.note-from-us-content, .final-beta-content {
  margin: 12px 0 24px 0;
}

.cta-white {
  width: fit-content;
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 12px 24px;
  border: 2px solid #ffffff;
  text-align: center;
  border-radius: 25px;
  font-weight: 600;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.cta-pink {
  width: fit-content;
  text-decoration: none;
  color: #DDA0DD;
  display: block;
  padding: 12px 24px;
  border: 2px solid #DDA0DD;
  text-align: center;
  border-radius: 25px;
  font-weight: 600;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.cta-large {
  padding: 16px 40px;
  width: 75%;
  margin: 0 auto;
}

.background-circle-gradient-right {
  position: relative;
  width: 100%;
  height: 250px;
  right: -50px;
  top: -30px;
  background-image: radial-gradient(farthest-corner at 320px 30px, #9B1FE7 0%, #100912 100%);
  opacity: 0.4;
  filter: blur(50px);
  -webkit-filter: blur(50px);
}

.background-circle-gradient-left {
  position: relative;
  width: 100%;
  height: 300px;
  left: -50px;
  top: -200px;
  background-image: radial-gradient(farthest-corner at 20px 30px, #9B1FE7 0%, #100912 100%);
  opacity: 0.4;
  filter: blur(50px);
  -webkit-filter: blur(50px);
}

.magic-macbook {
  width: 100%;
  top: -375px;
  position: relative;
  z-index: 1;
}

.programming-method-section {
  margin: -330px 4% 0 4%;
}

.programming-method-content-section {
  position: relative;
  top: -275px;
}

.programming-method-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background-color: #dda0dd17;
  margin-top: 16px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.programming-method-card-title {
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.programming-method-card-content {
  text-align: center;
}

.programming-method-section {
  width: auto;
  height: 300px;

}

.early-access-features-section, .coming-soon-features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 28px 0 0 16px;
}

.early-access-features-section {
  background-color: #dea1de4f;
  margin-top: 250px;
}

.coming-soon-features-section {
  background-color: #b6bcf178;
  margin-top: -200px;
}

.card-container {
  display: flex;
  overflow-x: auto !important;
  margin: 10px 0 32px 0;
  white-space: nowrap;
  -ms-overflow-style: none; /* Hide the scrollbar for MS Edge */
  scrollbar-width: none; /* Hide the scrollbar for Mozilla Firefox */
  width: 100vw;
  height: fit-content;
}

#carousel::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on Webkit based browsers (Chrome, Safari, etc) */
  -webkit-overflow-scrolling: touch; /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
}

.feature-card {
  background-color: #dea1de1c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px !important;
  height: 140px;
  padding: 8px;
  margin: 8px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.feature-card-content {
  white-space: normal;
  text-align: center;
  width: 180px;
  display: flex;
  padding: 12px;
}

.card-section-title {
  padding-top: 16px;
}

.order-now-section-background {
  position: relative;
  background-image: url('../images/rshaskell_silo\ 1.png');
  background-position: 50% top;
  background-repeat: no-repeat;
  height: fit-content;
  background-size: 80vh;
  mix-blend-mode: screen;
  padding: 0 0 32px 0;
}

.order-now-section-container {
  width: 100%;
  text-align: center;
}

.order-now-section {
  position: relative;
  background-image: radial-gradient(farthest-corner at 50% 50%, #410e60 0%, #100912 100%);
  background-blend-mode: screen;
}

.order-now-section-content {
  text-align: left;
  background-color: transparent;
  height: fit-content;
  padding: 24px 4% 4% 4%;
  background-color: #030203;
}

.final-beta-badge {
  margin-bottom: 16px;
}

footer {
  display: flex;
  align-items: end;
  background-color: inherit;
  color: #DDA0DD;
  height: 50px;
  padding: 20px 4% 10px 4%;
}