pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { display: inline-block; line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
  { counter-reset: source-line 0; }
pre.numberSource code > span
  { position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
  { content: counter(source-line);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    background-color: #f00;
    color: #b0b0b0;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #7a7c7d;  padding-left: 4px; }
div.sourceCode
  { color: #b0b0b0; background-color: #1a1a1aa1; /* background-color: #dda0dd11;*/ }
@media screen {
pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}
code span { color: #b0b0b0; } /* Normal */
/*code span.al { color: #871b60; background-color: #4d1f24; font-weight: bold; } /* Alert */
code span.al { color: #871b60; background-color: #4d1f24; font-weight: bold; } /* Alert */
code span.an { color: #a020f0; } /* Annotation */
code span.at { color: #a020f0; } /* Attribute */
code span.bn { color: #b0b0b0; font-weight: bold;} /* BaseN */
code span.bu { color: #da70d6; } /* BuiltIn */
code span.cf { color: #da70d6; font-weight: bold; } /* ControlFlow */
code span.ch { color: #ffc0cb; } /* Char */
code span.cn { color: #b0b0b0; font-weight: bold; } /* Constant */
code span.co { color: #5a5075; } /* Comment */
code span.cv { color: #5a5075; } /* CommentVar */
code span.do { color: #5a5075; } /* Documentation */
code span.dt { color: #c040ff; } /* DataType */
code span.dv { color: #b0b0b0; } /* DecVal */
code span.er { color: #871b60; text-decoration: underline; } /* Error */
code span.ex { color: #b0b0b0; font-weight: bold; } /* Extension */
code span.fl { color: #b0b0b0; font-weight: bold; } /* Float */
code span.fu { color: #da70d6; } /* Function */
code span.im { color: #695085; } /* Import */
code span.in { color: #5a5075; } /* Information */
code span.kw { color: #7643a9; font-weight: bold; } /* Keyword */
code span.op { color: #ffc0cb; } /* Operator */
code span.ot { color: #7643a9; } /* Other */
code span.pp { color: #7643a9; } /* Preprocessor */
code span.re { color: #2980b9; background-color: #153042; } /* RegionMarker */
code span.sc { color: #3daee9; } /* SpecialChar */
code span.ss { color: #7643a9; } /* SpecialString */
code span.st { color: #ffc0cb; } /* String */
code span.va { color: #da70d6; } /* Variable */
code span.vs { color: #ffc0cb; font-weight: italic; } /* VerbatimString */
code span.wa { color: #871b60; } /* Warning */
